h1{
    color: #56ab2f;
}

body{
    font-family:'Poppins', sans-serif;
}

div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.page-header{
    padding: 25px 0 80px;
}

.blank{
    text-align: center;
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.profit-fix{
    color:green;
}

.profit-adjust{
    color:red;
}

.owner-fix{
    color:green;
}

.owner-adjust{
    color:red;
}

.tax-fix{
    color:green;
}

.tax-adjust{
    color:red;
}

.expense-fix{
    color:green;
}

.expense-adjust{
    color:red;
}

.high-revenue{
        background: #ED213A;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: white;
}
.fake-revenue{
    text-align: center;
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:black;
}